---
---
<section id="How-it-works" class="howit-works">
  <div class="w-layout-blockcontainer container-5 w-container">
    <div class="w-layout-hflex flex-block-4">
      <div class="left-img">
        <img
          src="/images/6721bc70e300270aa5b8d6b6_drvr-sfty-sol.png"
          loading="lazy"
          sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
          srcset="/images/6721bc70e300270aa5b8d6b6_drvr-sfty-sol-p-500.png 500w, /images/6721bc70e300270aa5b8d6b6_drvr-sfty-sol-p-800.png 800w, /images/6721bc70e300270aa5b8d6b6_drvr-sfty-sol-p-1080.png 1080w, /images/6721bc70e300270aa5b8d6b6_drvr-sfty-sol.png 1605w"
          alt="Driver safety solution"
          class="image-4"
        />
      </div>
      <div class="content-div">
        <div class="w-layout-vflex flex-block-13">
          <div class="text-block-4">How It Works</div>
          <h2 class="heading-2">From Assessment to Expert Guidance</h2>
          <p class="paragraph-3">
            In under 5 minutes, know exactly where your safety risks are and what to fix first. No credit card, no sales pressure.<br /><br />
            After the demo, you'll have everything you need to decide if SafetyConnect is right for your organisation.
          </p>
        </div>
      </div>
    </div>
    <div class="div-block-6">
      <div class="w-layout-hflex flex-block-6">
        <div id="w-node-b8f45458-1e72-f412-52e0-e911d347674b-2fc5ea9a" class="div-block-10">
          <div class="text-block-34">01</div>
          <h5 class="heading-6">Complete Assessment</h5>
          <p class="paragraph-17">Answer questions across 6 <br />safety dimensions. Takes under 5 minutes.</p>
        </div>
        <div id="w-node-f934c11a-cd5e-dbd8-cab2-74087e7cd784-2fc5ea9a" class="div-block-11">
          <div class="text-block-35">02</div>
          <h5 class="heading-7">Receive Your Report</h5>
          <p class="paragraph-14">Get your Safety Maturity Score with a full dimension breakdown <br />instantly.</p>
        </div>
        <div id="w-node-d45f6790-e7ec-ead4-a572-afcbcfcb56dc-2fc5ea9a" class="div-block-12">
          <div class="text-block-36">03</div>
          <h5 class="heading-8">Book Demo Session</h5>
          <p class="paragraph-15">Schedule a free 30-minute <br />session with an expert to review your results.</p>
        </div>
        <div id="w-node-_93589dba-0a5c-313e-bdbc-396ee430cc98-2fc5ea9a" class="div-block-13">
          <div class="text-block-37">04</div>
          <h5 class="heading-9">Access Full Platform</h5>
          <p class="paragraph-16">Upgrade to SafetyConnect <br />access and start improving your maturity score.</p>
        </div>
      </div>
    </div>
  </div>
</section>
