---
---
<section>
  <div class="section-3 footer">
    <div class="footer-div">
      <div class="w-row">
        <div class="column-6 w-col w-col-5 w-col-medium-6">
          <div class="footer-logo-div">
            <img src="/images/safetyconnect_logo_-_white.png" loading="lazy" width="166" alt="SafetyConnect Logo" class="nav-logo" />
            <div class="footer-slogan-copy">Lewes, Delaware</div>
            <div class="footer-slogan">16192 Coastal Highway Lewes De <br />19958. USA</div>
            <div class="footer-slogan-copy">Hyderabad, India<br /></div>
            <div class="footer-slogan new">Catalyst Building, T-Hub, Gachibowli, <br />Hyderabad 500032. INDIA</div>
          </div>
        </div>
        <div class="column-4 w-col w-col-2 w-col-medium-6">
          <div class="carrer-div">
            <h4 class="footer-title">Quick links</h4>
            <a href="#" class="page-link in-footer">About Company</a>
            <a href="https://iotrl.freshteam.com/jobs" class="page-link in-footer">Careers</a>
            <a href="#" class="page-link in-footer">Contact Us</a>
            <a href="#" class="page-link in-footer">Blog</a>
            <a href="#" class="page-link in-footer">Pricing &amp; Plans</a>
            <a href="https://app.safetyconnect.io/" class="page-link in-footer">Sign In</a>
          </div>
        </div>
        <div class="column-5 as w-col w-col-2 w-col-medium-6">
          <div class="carrer-div">
            <h4 class="footer-title">Need help</h4>
            <a href="#" class="page-link in-footer terms">Terms &amp; Conditions</a>
            <a href="#" class="page-link in-footer">Privacy Policy</a>
          </div>
        </div>
        <div class="w-col w-col-3 w-col-medium-6">
          <div class="form-block w-form">
            <form id="newsletter-form" class="subscribe-form-flex">
              <div class="subscribe-form-input-wrapper">
                <label for="Subscriber-Email" id="subscribe-email" class="footer-title lkj">SUBSCRIBE TO OUR NEWSLETTER</label>
                <input
                  class="subscribe-form-input w-input"
                  maxlength="256"
                  name="Subscriber-Email"
                  placeholder="Email"
                  type="email"
                  id="Subscriber-Email"
                  required
                />
              </div>
              <input type="submit" class="submit-button-2 w-button" value="SUBSCRIBE" />
            </form>
          </div>
        </div>
      </div>
      <div class="w-layout-vflex flex-block-15">
        <div class="text-block-16">IOT Research Labs @2020</div>
        <div class="social-icon-group">
          <a href="https://www.facebook.com/iotrl/" target="_blank" class="social-icon w-inline-block">
            <img src="/images/facebook-icon.svg" alt="Facebook" class="image-7" />
          </a>
          <a href="https://twitter.com/iotrlabs" target="_blank" class="social-icon w-inline-block">
            <img src="/images/twitter-icon.svg" alt="Twitter" class="image-9" />
          </a>
          <a href="https://www.linkedin.com/company/safetyconnectio/" target="_blank" class="social-icon w-inline-block">
            <img src="/images/linkdin-icon-white.svg" alt="LinkedIn" class="image-8" />
          </a>
          <a href="https://www.youtube.com/channel/UCGcmoYW0Sz1iQdyIwIHajnw" target="_blank" class="social-icon w-inline-block">
            <img src="/images/youtube-20-1-.svg" alt="YouTube" class="image-6" />
          </a>
          <a href="https://www.instagram.com/safety.connect/" target="_blank" class="social-icon w-inline-block">
            <img src="/images/icons8-instagram-240.png" alt="Instagram" class="image-6" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
