---
---
<section class="section">
  <div class="w-layout-blockcontainer container-3 w-container">
    <div class="w-layout-hflex flex-block-2">
      <div class="left-div">
        <div class="w-layout-vflex flex-block-12">
          <div class="text-block-2">Safety Intelligence Framework - Free Trial</div>
          <h1 class="heading">Understand Your Safety Performance — <span class="text-span-12">Instantly</span></h1>
          <p class="paragraph"><span class="text-span">|</span> <strong class="bold-text">Know where your driver safety stands in 5 minutes.</strong></p>
          <p class="paragraph-2">Most safety leaders don't know where their gaps are until something goes wrong. Take our 5 minute assessment and know exactly where you stand today.</p>
          <div class="w-layout-hflex flex-block-3 btn">
            <a href="https://dsif.safetyconnect.io/" target="_blank" class="button firstpage w-button">Get My Safety Score</a>
            <a href="https://www.safetyconnect.io/get-a-demo" target="_blank" class="button-2 w-button">Book Demo Session</a>
          </div>
        </div>
        <div class="w-layout-hflex flex-block">
          <div class="div-block">
            <div class="text-block-3"><span class="text-span-3">5 </span><span class="text-span-4">min</span><br /><span class="text-span-2">Assessment</span></div>
          </div>
          <div class="div-block-2">
            <div class="text-block-3"><span class="text-span-5">6</span><br /><span class="text-span-2">Dimensions</span></div>
          </div>
          <div class="div-block-3">
            <div class="text-block-3"><span class="text-span-3">2k+ </span><br /><span class="text-span-2">Orgs Assessed</span></div>
          </div>
          <div class="div-block-4">
            <div class="text-block-3"><span class="text-span-3">30 </span><span class="text-span-4">min</span><br /><span class="text-span-2">Demo Session</span></div>
          </div>
        </div>
      </div>
      <div class="right-div">
        <img src="/images/young-man-fastening-a-seatbelt.avif" loading="lazy" alt="Man fastening seatbelt" class="image-3" />
        <div class="div-block-27">
          <div class="div-block-28">
            <div class="w-layout-hflex flex-block-17">
              <div class="text-block-18">Safety Maturity Score</div>
              <div class="text-block-19">SAMPLE REPORT</div>
            </div>
          </div>
          <div class="div-block-38">
            <div class="w-layout-hflex flex-block-18">
              <div class="div-block-29">
                <div class="div-block-30">
                  <div class="text-block-20"><strong class="bold-text-2">74<br />‍</strong></div>
                  <div class="text-block-21"> /100</div>
                </div>
              </div>
              <div class="div-block-31">
                <div class="w-layout-vflex">
                  <div class="text-block-24">74</div>
                  <div class="text-block-25">Safety Maturity Score</div>
                  <div class="text-block-26">↑ Good — Top 28%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-block-41">
            <div>
              <div class="w-layout-hflex flex-block-20">
                <div class="text-block-27">Driver behaviour</div>
                <div class="div-block-33"><div class="div-block-34"><div class="text-block-33">88</div></div></div>
              </div>
            </div>
            <div>
              <div class="w-layout-hflex flex-block-21">
                <div class="text-block-29">Incident Response</div>
                <div class="div-block-36 new1"><div class="div-block-37"></div><div class="text-block-33">62</div></div>
              </div>
            </div>
            <div>
              <div class="w-layout-hflex flex-block-22">
                <div class="text-block-30">Compliance</div>
                <div class="div-block-33 purple"><div class="div-block-37 purple"></div><div class="text-block-33 new2">79</div></div>
              </div>
            </div>
            <div>
              <div class="w-layout-hflex flex-block-23">
                <div class="text-block-32">Vehicle Health</div>
                <div class="div-block-33"><div class="div-block-37 red"></div><div class="text-block-33">44</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
