---
---
<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-2 w-nav">
  <div class="container-2 w-container">
    <a href="https://safetyconnect.io" target="_blank" class="brand w-nav-brand">
      <img
        src="/images/61b0bb5b9c1e111e6333076b_safetyconnect_logo_-_white.png"
        loading="lazy"
        width="169"
        sizes="169px"
        alt="SafetyConnect Logo"
        srcset="/images/61b0bb5b9c1e111e6333076b_safetyconnect_logo_-_white-p-500.png 500w, /images/61b0bb5b9c1e111e6333076b_safetyconnect_logo_-_white-p-800.png 800w, /images/61b0bb5b9c1e111e6333076b_safetyconnect_logo_-_white.png 916w"
        class="image-2"
      />
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a href="#How-it-works" class="how-it-works w-nav-link">How it works</a>
      <a href="#free-assessment" class="assessment w-nav-link">Assessment</a>
      <a href="#the-framework" class="framework w-nav-link">Framework</a>
      <a href="https://www.safetyconnect.io/get-a-demo" target="_blank" class="demo-session w-nav-link">Book Demo Session</a>
    </nav>
    <div class="w-nav-button">
      <div class="icon w-icon-nav-menu"></div>
    </div>
  </div>
</div>
